.container{
    padding: 150px;
    border-radius: 30px;

}

body{
    background-color: rgb(214, 227, 255);
}

h5{
    padding: 15px;
    font-weight: 700;
}

p{
    padding: 10px;
    color: grey;
    font-weight: 600;
}

img{
    border-radius: 5%;
}